# ARIC Task abstRCT dataset

In [2]:
import pandas as pd

for all abstracts, we want [(0, 3, support), (2, 5, attack) ...]

In [60]:
df = pd.read_csv("../data/neo/test.csv")

In [61]:
df

,doc_id,span_pos,adu_pos,aty,parent_pos,afu,text,rel_pairs,root
0,11346336,1,0,none,0,none,To determine the safety and efficacy of oral ...,none,-1
1,11346336,2,1,Premise,8,support,Responses (> or = 50% improvement) were seen i...,"(2, 7):(1, 7):(0, 7):(5, 7):(6, 8):(4, 8)",0
2,11346336,3,2,Premise,8,support,"The rate of progressive disease was 47%, 21%, ...","(2, 7):(1, 7):(0, 7):(5, 7):(6, 8):(4, 8)",0
3,11346336,4,3,Premise,8,support,Eight (73%) of 11 patients crossing over from ...,"(2, 7):(1, 7):(0, 7):(5, 7):(6, 8):(4, 8)",0
4,11346336,5,4,Premise,0,none,The median duration of response from start of ...,NaN,0
...,...,...,...,...,...,...,...,...,...
886,20821047,4,3,Premise,5,attack,Nearly 80% of patients reported one or more si...,"(2, 4):(3, 4):(1, 4):(0, 4):(1, 5):(0, 5)",0
887,20821047,5,4,Premise,5,support,"No differences in frequency, grade, or range o...","(2, 4):(3, 4):(1, 4):(0, 4):(1, 5):(0, 5)",0
888,20821047,6,0,none,0,none,"Of 160 patients, 49 (30.6%) preferred letrozol...",none,-1
889,20821047,7,5,Claim,0,none,both AIs are equally well tolerated.,"(1, 5):(0, 5)",1
890,20821047,8,6,Claim,0,none,There were no significant differences in QOL s...,"(5, 5)",2

In [62]:
df[df.doc_id == 10403690]

,doc_id,span_pos,adu_pos,aty,parent_pos,afu,text,rel_pairs,root
61,10403690,1,0,none,0,none,"In a prospective randomized study, 287 patien...",none,-1
62,10403690,2,1,Premise,0,none,Partial response rates were 40 and 41.7% in IE...,NaN,0
63,10403690,3,2,Premise,6,support,Median survival durations were 5.9 and 8.1 mon...,"(1, 5):(2, 5):(3, 5):(4, 5)",0
64,10403690,4,3,Premise,6,support,"One year survival was 13, 29.8 and 39.3% for t...","(1, 5):(2, 5):(3, 5):(4, 5)",0
65,10403690,5,4,Premise,6,support,"Two years survival was 7.8, 6.4 and 13.1% for ...","(1, 5):(2, 5):(3, 5):(4, 5)",0
66,10403690,6,5,Premise,6,support,Improvement in quality of life (QOL) scores at...,"(1, 5):(2, 5):(3, 5):(4, 5)",0
67,10403690,7,0,none,0,none,We conclude that,none,-1
68,10403690,8,6,Claim,0,none,combination chemotherapy improves the quality ...,"(5, 5)",2

In [63]:
def get_triple(x):

    return (x.adu_pos, x.parent_pos, x.afu)

In [64]:
df['relation_type'] = df.apply(lambda x: get_triple(x), axis=1)

In [65]:
df_essay = df.fillna('').groupby(["doc_id"]).agg({"text": "".join, "aty": " ".join}).reset_index()

In [66]:
df_essay

,doc_id,text,aty
0,8648360,To investigate the effects of medroxyprogeste...,none Premise Premise Premise Premise Claim Pre...
1,8683634,Combined radiation therapy and chemotherapy af...,none MajorClaim Claim none Premise Premise Cla...
2,8839553,Cerebral metastasis is a common oncologic prob...,none Claim none Premise Premise Premise Premis...
3,9626213,To compare two cisplatin based chemotherapy s...,none Premise Premise Premise Claim Premise Pre...
4,9640214,In 1980 the EORTC-BCCG initiated a multicentr...,none Premise Premise Premise Premise Claim Claim
...,...,...,...
95,24040301,Postcancer fatigue is a frequently occurring p...,none MajorClaim none Premise Premise Premise C...
96,24127364,The CO.20 trial randomized patients with K-RA...,none Premise Premise Premise Premise Claim Claim
97,24151326,Exercise improves physical functioning and sy...,none Premise Premise Premise Premise Premise C...
98,24178750,Intravenous (IV) granulocyte colony stimulati...,none Premise Premise Premise Premise Premise n...
99,24246508,Surgical resection enhances long-term surviva...,none Premise Premise Claim Claim Claim Claim

In [67]:
df_essay.iloc[7]['aty'].split(" ")

['none',
 'Premise',
 'Premise',
 'Premise',
 'Premise',
 'Premise',
 'none',
 'Claim']

In [49]:
def check_nones(x):

    aty_l = x.aty.split(" ")
    flag = 0
    
    for idx, content in enumerate(aty_l):
        if content == 'none' and idx != 0:
            flag = 1
    return flag

In [52]:
df_essay['none_check'] = df_essay.apply(lambda x: check_nones(x), axis=1)

In [53]:
df_essay['none_check'].value_counts()

none_check
1    212
0    138
Name: count, dtype: int64

In [54]:
df_essay['none_check']

0      0
1      0
2      1
3      1
4      0
      ..
345    1
346    0
347    1
348    0
349    1
Name: none_check, Length: 350, dtype: int64

In [55]:
df_essay.iloc[2]['aty']

'none Premise Premise Premise Premise Premise Premise Premise Claim none Claim Claim'

In [56]:
df[df.doc_id == 7786823]

,doc_id,span_pos,adu_pos,aty,parent_pos,afu,text,rel_pairs,root,relation_type
0,7786823,1,0,none,0,none,"From 1984 to 1989, the Swiss Group for Clinic...",none,-1,"(0, 0, none)"
1,7786823,2,1,Premise,8,support,The overall remission rate was 87% with 31% co...,"(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0,"(1, 8, support)"
2,7786823,3,2,Premise,8,support,The median survival of all 406 eligible patien...,"(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0,"(2, 8, support)"
3,7786823,4,3,Premise,8,support,"The overall remission rate, the rate of comple...","(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0,"(3, 8, support)"
4,7786823,5,4,Premise,10,support,In limited disease the estimated percentages o...,"(3, 9):(4, 9):(5, 9)",0,"(4, 10, support)"
5,7786823,6,5,Premise,10,support,Patients with extensive disease survived signi...,"(3, 9):(4, 9):(5, 9)",0,"(5, 10, support)"
6,7786823,7,6,Premise,10,support,In the latter patients the received dose inten...,"(3, 9):(4, 9):(5, 9)",0,"(6, 10, support)"
7,7786823,8,7,Premise,9,support,Patients treated with early alternating chemot...,"(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0,"(7, 9, support)"
8,7786823,9,8,Claim,0,none,Alternating chemotherapy with PAV-CyMOC plus c...,"(3, 9):(4, 9):(5, 9)",1,"(8, 0, none)"
9,7786823,10,0,none,0,none,Whereas,none,-1,"(0, 0, none)"
10,7786823,11,9,Claim,0,none,patients with early alternating chemotherapy a...,"(3, 9):(4, 9):(5, 9)",1,"(9, 0, none)"
11,7786823,12,10,Claim,0,none,late alternating chemotherapy allows for a hig...,"(9, 9)",2,"(10, 0, none)"

In [114]:
df[df.doc_id == 7786823]

,doc_id,span_pos,adu_pos,aty,parent_pos,afu,text,rel_pairs,root
0,7786823,1,0,none,0,none,"From 1984 to 1989, the Swiss Group for Clinic...",none,-1
1,7786823,2,1,Premise,8,support,The overall remission rate was 87% with 31% co...,"(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0
2,7786823,3,2,Premise,8,support,The median survival of all 406 eligible patien...,"(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0
3,7786823,4,3,Premise,8,support,"The overall remission rate, the rate of comple...","(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0
4,7786823,5,4,Premise,10,support,In limited disease the estimated percentages o...,"(3, 9):(4, 9):(5, 9)",0
5,7786823,6,5,Premise,10,support,Patients with extensive disease survived signi...,"(3, 9):(4, 9):(5, 9)",0
6,7786823,7,6,Premise,10,support,In the latter patients the received dose inten...,"(3, 9):(4, 9):(5, 9)",0
7,7786823,8,7,Premise,9,support,Patients treated with early alternating chemot...,"(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0
8,7786823,9,8,Claim,0,none,Alternating chemotherapy with PAV-CyMOC plus c...,"(3, 9):(4, 9):(5, 9)",1
9,7786823,10,0,none,0,none,Whereas,none,-1
10,7786823,11,9,Claim,0,none,patients with early alternating chemotherapy a...,"(3, 9):(4, 9):(5, 9)",1
11,7786823,12,10,Claim,0,none,late alternating chemotherapy allows for a hig...,"(9, 9)",2

In [115]:
df.afu.value_counts()

afu
none       1552
support    1213
attack      205
Name: count, dtype: int64

In [24]:
grouped_df = df.groupby('doc_id').apply(lambda x: x)

/tmp/ipykernel_145368/263077309.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped_df = df.groupby('doc_id').apply(lambda x: x)

In [25]:
grouped_df

                 doc_id  span_pos  adu_pos      aty  parent_pos      afu  \
doc_id
7502428  2580   7502428         1        0     none           0     none
         2581   7502428         2        1  Premise           8   attack
         2582   7502428         3        2  Premise           8  support
         2583   7502428         4        3  Premise           2   attack
         2584   7502428         5        4  Premise           8  support
...                 ...       ...      ...      ...         ...      ...
24075621 751   24075621         4        2  Premise           5  support
         752   24075621         5        3  Premise           5  support
         753   24075621         6        4  Premise           5  support
         754   24075621         7        5    Claim           6  support
         755   24075621         8        6    Claim           0     none

                                                            text  \
doc_id
7502428  2580   Single-agent therapy with bicalutamide, a non...
         2581  Treatment effects favored castration for both ...
         2582  From the 1-year survival analysis, the hazard ...
         2583  Thus far, with a median follow-up of 86 weeks,...
         2584  Changes from baseline in several quality of li...
...                                                          ...
24075621 751   Median time to progression of mean pain intens...
         752   Median time to progression of worst pain was a...
         753   Median time to HRQoL deterioration was longer ...
         754   Abiraterone plus prednisone delays patient-rep...
         755   These results provide further support for the ...

                                                      rel_pairs  root
doc_id
7502428  2580                                              none    -1
         2581         (6, 7):(0, 7):(5, 7):(4, 7):(3, 7):(1, 7)     0
         2582         (6, 7):(0, 7):(5, 7):(4, 7):(3, 7):(1, 7)     0
         2583  (6, 7):(0, 7):(5, 7):(4, 7):(3, 7):(1, 7):(2, 1)     0
         2584         (6, 7):(0, 7):(5, 7):(4, 7):(3, 7):(1, 7)     0
...                                                         ...   ...
24075621 751                        (4, 5):(3, 4):(2, 4):(1, 4)     0
         752                        (4, 5):(3, 4):(2, 4):(1, 4)     0
         753                        (4, 5):(3, 4):(2, 4):(1, 4)     0
         754                                             (4, 5)     0
         755                                             (5, 5)     2

[2970 rows x 9 columns]

In [26]:
grouped_df = df.groupby('doc_id').agg(lambda x: ', '.join(map(str, x))).reset_index()

In [27]:
grouped_df

,doc_id,span_pos,adu_pos,aty,parent_pos,afu,text,rel_pairs,root
0,7502428,"1, 2, 3, 4, 5, 6, 7, 8, 9","0, 1, 2, 3, 4, 5, 6, 7, 8","none, Premise, Premise, Premise, Premise, Prem...","0, 8, 8, 2, 8, 8, 8, 8, 0","none, attack, support, attack, support, suppor...","Single-agent therapy with bicalutamide, a non...","none, (6, 7):(0, 7):(5, 7):(4, 7):(3, 7):(1, 7...","-1, 0, 0, 0, 0, 0, 0, 0, 2"
1,7680374,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11","0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10","none, Premise, Premise, Claim, Premise, Premis...","0, 8, 0, 9, 8, 8, 0, 6, 0, 8, 8","none, support, none, support, support, support...","An open, randomized study was performed to as...","none, (8, 7):(9, 7):(4, 7):(3, 7):(0, 7), nan,...","-1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0"
2,7786823,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12","0, 1, 2, 3, 4, 5, 6, 7, 8, 0, 9, 10","none, Premise, Premise, Premise, Premise, Prem...","0, 8, 8, 8, 10, 10, 10, 9, 0, 0, 0, 0","none, support, support, support, support, supp...","From 1984 to 1989, the Swiss Group for Clinic...","none, (0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9...","-1, 0, 0, 0, 0, 0, 0, 0, 1, -1, 1, 2"
3,7989941,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13","0, 1, 0, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10","none, Premise, none, Premise, Premise, Premise...","0, 0, 0, 9, 7, 3, 9, 9, 9, 9, 0, 0, 0","none, none, none, support, attack, attack, sup...","nan, Taxol (paclitaxel; Bristol-Myers Squibb, ...","none, nan, none, (7, 8):(6, 8):(5, 8):(1, 8):(...","-1, 0, -1, 0, 0, 0, 0, 0, 0, 0, 2, -1, 0"
4,8229122,"1, 2, 3, 4, 5","0, 1, 2, 3, 4","none, Premise, Premise, Premise, Claim","0, 4, 4, 2, 0","none, support, attack, attack, none",The impact of the side effects of megestrol a...,"none, (1, 3):(0, 3), (1, 3):(0, 3), (1, 3):(0,...","-1, 0, 0, 0, 2"
...,...,...,...,...,...,...,...,...,...
345,23989945,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11","0, 1, 2, 0, 3, 0, 4, 5, 0, 6, 7","none, Premise, Premise, none, Premise, none, P...","0, 7, 6, 0, 7, 0, 7, 7, 0, 0, 0","none, support, support, none, support, none, s...",Care closer to home is being explored as a me...,"none, (0, 6):(2, 6):(3, 6):(4, 6), (1, 5):(0, ...","-1, 0, 0, -1, 0, -1, 0, 0, -1, 1, 2"
346,23993401,"1, 2, 3, 4, 5, 6, 7, 8, 9","0, 1, 2, 3, 4, 5, 6, 7, 8","none, Premise, Premise, Premise, Premise, Clai...","0, 5, 6, 6, 0, 0, 0, 6, 6","none, support, support, support, none, none, n...",The optimal duration over which lung SBRT sho...,"none, (0, 4):(6, 5):(7, 5):(1, 5):(2, 5), (6, ...","-1, 0, 0, 0, 0, 1, 2, 0, 0"
347,24001635,"1, 2, 3, 4, 5","0, 1, 2, 3, 0","none, Premise, Premise, Claim, none","0, 3, 3, 0, 0","none, support, support, none, none",Patients experience reductions in quality of ...,"none, (1, 2):(0, 2), (1, 2):(0, 2), (2, 2), none","-1, 0, 0, 2, -1"
348,24067488,"1, 2, 3, 4, 5","0, 1, 2, 3, 4","none, Premise, Premise, Claim, Claim","0, 3, 4, 0, 0","none, support, support, none, none",Chronic gastrointestinal symptoms after pelvi...,"none, (0, 2):(1, 3), (1, 3), (1, 3), (3, 3)","-1, 0, 0, 1, 2"
349,24075621,"1, 2, 3, 4, 5, 6, 7, 8","0, 1, 0, 2, 3, 4, 5, 6","none, Claim, none, Premise, Premise, Premise, ...","0, 0, 0, 5, 5, 5, 6, 0","none, none, none, support, support, support, s...","nan, Abiraterone acetate plus prednisone signi...","none, nan, none, (4, 5):(3, 4):(2, 4):(1, 4), ...","-1, 0, -1, 0, 0, 0, 0, 2"

In [28]:
grouped_df.columns

Index(['doc_id', 'span_pos', 'adu_pos', 'aty', 'parent_pos', 'afu', 'text',
       'rel_pairs', 'root'],
      dtype='object')

In [31]:
grouped_df.iloc[0]

doc_id                                                  7502428
span_pos                              1, 2, 3, 4, 5, 6, 7, 8, 9
adu_pos                               0, 1, 2, 3, 4, 5, 6, 7, 8
aty           none, Premise, Premise, Premise, Premise, Prem...
parent_pos                            0, 8, 8, 2, 8, 8, 8, 8, 0
afu           none, attack, support, attack, support, suppor...
text           Single-agent therapy with bicalutamide, a non...
rel_pairs     none, (6, 7):(0, 7):(5, 7):(4, 7):(3, 7):(1, 7...
root                                 -1, 0, 0, 0, 0, 0, 0, 0, 2
Name: 0, dtype: object

In [32]:
grouped_df.iloc[0].aty

'none, Premise, Premise, Premise, Premise, Premise, Premise, Premise, Claim'

In [90]:
grouped_df.iloc[0].afu

'none, attack, support, attack, support, support, support, attack, none'

In [33]:
grouped_df.iloc[0].rel_pairs

'none, (6, 7):(0, 7):(5, 7):(4, 7):(3, 7):(1, 7), (6, 7):(0, 7):(5, 7):(4, 7):(3, 7):(1, 7), (6, 7):(0, 7):(5, 7):(4, 7):(3, 7):(1, 7):(2, 1), (6, 7):(0, 7):(5, 7):(4, 7):(3, 7):(1, 7), (6, 7):(0, 7):(5, 7):(4, 7):(3, 7):(1, 7), (6, 7):(0, 7):(5, 7):(4, 7):(3, 7):(1, 7), (6, 7):(0, 7):(5, 7):(4, 7):(3, 7):(1, 7), (7, 7)'

In [36]:
import re

In [34]:
input_string = grouped_df.iloc[0].rel_pairs

In [37]:
pairs = re.findall(r'\(.*?\)', input_string)
none = re.findall(r'\bnone\b', input_string)

# Combine results and get unique values
unique_items = set(pairs + none)

# Convert set to a sorted list if needed (sorting by string representation)
unique_items = sorted(unique_items)

# Print the result
print(unique_items)

['(0, 7)', '(1, 7)', '(2, 1)', '(3, 7)', '(4, 7)', '(5, 7)', '(6, 7)', '(7, 7)', 'none']

In [39]:
grouped_df.iloc[0].afu

'none, attack, support, attack, support, support, support, attack, none'

In [54]:
len(unique_items)

9

In [100]:
def get_unique(x):

    input_string = x.rel_pairs

    pairs = re.findall(r'\(.*?\)', input_string)
    #none = re.findall(r'\bnone\b', input_string)
    
    # Combine results and get unique values
    unique_items = set(pairs)
    
    # Convert set to a sorted list if needed (sorting by string representation)
    unique_items = sorted(unique_items)
    
    # Print the result
    return len(unique_items)

In [101]:
grouped_df["rel_lengths"] = grouped_df.apply(lambda x: get_unique(x), axis=1)

In [102]:
grouped_df.rel_lengths

0      8
1      8
2      8
3      8
4      4
      ..
345    6
346    6
347    3
348    3
349    5
Name: rel_lengths, Length: 350, dtype: int64

In [103]:
x = list(grouped_df.rel_lengths)

In [105]:
sum(x)

1759

In [99]:
for idx, item in enumerate(x):
    if none in item:
        print(idx)